## What does one need to do to use a module?
### We first need to import the respective module into our code-base. by using the import statement. 

## Name a Module (not the DateTime Nodule) we looked at and write a line or 2 of code as an example using this module.
### Random module

In [55]:
import random

Alphabet = ["A", "B", "C"]
random.shuffle(Alphabet)
print("Shuffled List ...", Alphabet)

Shuffled List ... ['C', 'A', 'B']

### What is a benefit of using Exception handling?
#### Bypasses and exception so that the error message does not appear

### What are the 4 components used for Python Exception Handling?
#### `try`,`except`,`else`,`finally`

### NumPy arrays are like what Python data type?
#### List

### What is one of the main benefits of using NumPy arrays.
#### uses less memory

### What is one of the main requirements about the 'dtype' of NumPy arrays?
#### The array must be contain all the same data type

### Of the 10 uses of NumPy, name 2.
#### Statistical Operations, Mathematical Operations Broadcasting

### Name one of the other libraries we'll use with NumPy?
#### SciPy, Pandas,  Matplotlib

### What is the shape of NumPy arrays?
#### Specifies array shape by dimension (Ex: 3-D), length (rows) and size (columns)- A tuple of non-negative integers 

### What is a Tensor?
#### an array with 3+ dimensions

### Name a reason why it's better using NumPy for Data Analysis than using a Python List?
#### NumPy arrays are faster and more effiecent 

### When creating an "empty" array, where do the elements come from?
#### will fill in values based on memory

In [56]:
###Create an if Statement: if 'age' is greater than or equal to 25, print "Renting a car is more affordable", however if 'age' is less than 25, print "Renting a car is very expensive."

age1 = 30
age2 = 20
if age1 >= 25:
    print ('Renting car is more affordable')
if age2 <25 :
    print ('Renting a car is very expensive')

Renting car is more affordable
Renting a car is very expensive

In [57]:
###Create and chain an if-else  statement: if 'age' is greater than or equal to 25, print "Renting a car is more affordable." If 'age' is less than 25 but greater than or equal to 18, print "Renting a car is very expensive." Finally, if age is less than 18, print "You cannot legally rent a car."

age = int(input("Your age: "))

if age >= 25:
    print("Renting a car is more affordable")
    if age >=18 and age <25:
        print('Renting a car is very expensive')
else: 
    print("You cannot legally rent a car")

Renting a car is more affordable

In [58]:
###Loop over the following string to (1) count all the characters in the string and (2) print out all the vowels -- "The quick brown fox jumps over the lazy dog

str = "The quick brown fox jumps over the lazy dog"
count = len(str)

for char in (str):
    if str in "The quick brown fox jumps over the lazy dog":
        print
print ("All characters =", len(str))

for str in "The quick brown fox jumps over the lazy dog":
    if str in "AEIOUaeiou":
        print(str,end="")
    else:
        continue

All characters = 43
euioouoeeao

In [59]:
###Write a nested loop that prints out every piece of clothing from the `couture` list, in every fashionable color from the `panettone` set: couture = ["trousers", "blouse", "bandana", "cumber band", "blazer", "vest", "french beret", "scarf", "stole"] and panettone = {"cerise", "fuchsia", "aqua", "maple", "auburn", "burnt sienna", "gunmetal blue", "Dark Sapphire"}
#### couture = ["trousers", "blouse", "bandana", "cumber band", "blazer", "vest", "french beret", "scarf", "stole"] and panettone = {"cerise", "fuchsia", "aqua", "maple", "auburn", "burnt sienna", "gunmetal blue", "Dark Sapphire"}

couture = ["trousers", "blouse", "bandana", "cumber band", "blazer", "vest", "french beret", "scarf", "stole"]
panettone = {"cerise", "fuchsia", "aqua", "maple", "auburn", "burnt sienna", "gunmetal blue", "Dark Sapphire"}

for x in couture:
	for y in panettone:
		print(x,y)

trousers burnt sienna
trousers aqua
trousers fuchsia
trousers cerise
trousers Dark Sapphire
trousers auburn
trousers maple
trousers gunmetal blue
blouse burnt sienna
blouse aqua
blouse fuchsia
blouse cerise
blouse Dark Sapphire
blouse auburn
blouse maple
blouse gunmetal blue
bandana burnt sienna
bandana aqua
bandana fuchsia
bandana cerise
bandana Dark Sapphire
bandana auburn
bandana maple
bandana gunmetal blue
cumber band burnt sienna
cumber band aqua
cumber band fuchsia
cumber band cerise
cumber band Dark Sapphire
cumber band auburn
cumber band maple
cumber band gunmetal blue
blazer burnt sienna
blazer aqua
blazer fuchsia
blazer cerise
blazer Dark Sapphire
blazer auburn
blazer maple
blazer gunmetal blue
vest burnt sienna
vest aqua
vest fuchsia
vest cerise
vest Dark Sapphire
vest auburn
vest maple
vest gunmetal blue
french beret burnt sienna
french beret aqua
french beret fuchsia
french beret cerise
french beret Dark Sapphire
french beret auburn
french beret maple
french beret gunmetal blue
scarf burnt sienna
scarf aqua
scarf fuchsia
scarf cerise
scarf Dark Sapphire
scarf auburn
scarf maple
scarf gunmetal blue
stole burnt sienna
stole aqua
stole fuchsia
stole cerise
stole Dark Sapphire
stole auburn
stole maple
stole gunmetal blue

In [60]:
###Use range as a loop to calculate the sum of all the numbers from 1 to 100
sum = 0

for x in range(1,100):
    sum += x
    print(sum)

1
3
6
10
15
21
28
36
45
55
66
78
91
105
120
136
153
171
190
210
231
253
276
300
325
351
378
406
435
465
496
528
561
595
630
666
703
741
780
820
861
903
946
990
1035
1081
1128
1176
1225
1275
1326
1378
1431
1485
1540
1596
1653
1711
1770
1830
1891
1953
2016
2080
2145
2211
2278
2346
2415
2485
2556
2628
2701
2775
2850
2926
3003
3081
3160
3240
3321
3403
3486
3570
3655
3741
3828
3916
4005
4095
4186
4278
4371
4465
4560
4656
4753
4851
4950

In [70]:
###Print the second item in this fruits list.
a = ["apple", "banana", "cherry"]
print(a[1])

###Change the value from "apple" to "kiwi", in the fruits list.
a[1] = "kiwi"
print("New fruit list is  = ", a)

###Use the append method to add "orange" to the fruits list.
a.append("orange")
print(a)

###Use the insert method to add "lemon" as the second item in the fruits list.

a.insert(1,"lemon")
print(a)

banana
New fruit list is  =  ['apple', 'kiwi', 'cherry']
['apple', 'kiwi', 'cherry', 'orange']
['apple', 'lemon', 'kiwi', 'cherry', 'orange']

In [71]:

###Use the remove method to remove "banana" from the fruits list.
a1 = ["apple", "banana", "cherry"]
a1.remove("banana")
print(a1)

['apple', 'cherry']

In [75]:
###Use negative indexing to print the 3rd and 2nd to last items in the list.
  ##  ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]

a2 = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(a2[-3:-1])

['kiwi', 'melon']

In [77]:
### fruitsList = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]

print(a2[2:5])

['cherry', 'orange', 'kiwi']

In [83]:
####Use the correct syntax to print the number of items in the list.
a2 = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]

print(len(a2))

7

In [87]:
### Use the correct syntax to sort this list in reverse order
a2 = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]

a2.sort(reverse = True)
print(a2)

['orange', 'melon', 'mango', 'kiwi', 'cherry', 'banana', 'apple']

In [91]:
## Use the DateTime module to get Current Date and Time, and save it to a variable. Then extract just the Full month name form that variable.

import datetime as dt

Current_DateTime = dt.datetime.now()
print(Current_DateTime)

2023-08-21 20:41:41.971762

In [ ]:
# 16. Write a simple function that takes 2 parameters -- a  first name and a day name.
#     - Set a default value for the day name of Sunday.
#     - Have the function print out a greeting -- using the parameters -- that says something like "Hi first-name! Happy day-name!". Remember to use the variables in the greeting to replace first-name and day-name.  
#     - Invoke this function with 2 variables.
#     - Invoke this function with 1 variable only.

def greeting(firstName,dayName = "Sunday"):
    print(f"Hi {firstName}! Happy {dayName}!")
    return ""

In [98]:
#Write a block of code to handle one of the most common Python exception errors. Select one of the common errors from the curriculum section on Python Exception handling. Have your code example uses the `try`,`except`, `else`, and `finally` components.

try: 
    print("Andrew")
except:
    print("Will learn Python")
else:
    print("He will succeed")
finally:
    print("He will do his best")

Andrew
He will succeed
He will do his best